@{
    Layout = "_Root.Head";
}
@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.BodyStartHtmlTagAfter })
@{
    await Html.RenderPartialAsync("_Notifications");
}
@{
    await Html.RenderPartialAsync("_JavaScriptDisabledWarning");
}
@await Component.InvokeAsync(typeof(AdminHeaderLinksViewComponent))
@{
    await Html.RenderPartialAsync("_Header");
}
<div class="container pt-4" id="main" role="main">
    @if (IsSectionDefined("Breadcrumb"))
    {
        @RenderSection("Breadcrumb")
    }
    @RenderBody()
</div>
@await Component.InvokeAsync(typeof(FooterViewComponent))
@await Component.InvokeAsync(typeof(EuCookieLawViewComponent))
@await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })
