#featured-products h1 {
  color: var(--featured-products-title-color);
}

.featured-products-row {
  overflow-x: auto;
  flex-wrap: nowrap !important;
}

.featured-products-arrows .btn {
  font-size: x-large;
  color: var(--featured-products-title-color);
  border: none;
}

.featured-products-arrows .btn:hover {
  color: var(--product-arrow-color);
}

.product-item {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-item .picture {
  height: 250px;
  transition: background-size 0.5s ease;
  background-position: center;
  background-size: 100%; /* Start larger for sliding effect */
}

.product-item .picture:hover {
  background-position: center;
  background-size: 125%;
}

.product-item .details {
  height: 250px;
}

.product-item .picture {
  overflow: hidden;
}

.product-item .picture img {
  transition: transform 0.7s;
}

.product-item:hover .picture img {
  transform: scale(var(--product-hover-scale));
}

.product-item .product-title a {
  color: black;
  text-decoration: none;
  transition: color 0.3s; /* Smooth transition for text color */
  font-size: large;
}

.product-item .description {
  color: var(--text-darken-2-color);
}

.product-item .product-title a:hover {
  color: var(--product-title-hover-color);
}

.product-item .product-title {
  line-height: 0.8;
}

.product-item .prices {
  font-weight: bold;
  font-size: large;
}

.product-item .buttons .heart-btn {
  color: var(--text-darken-1-color);
  background-color: transparent;
  border-color: transparent;
  border: none;
}

.product-item .buttons .heart-btn:hover {
  color: #cb403e;
  background-color: transparent;
}

.product-item .buttons .heart-btn:active {
  color: #e57373;
}

.product-item .buttons .shopping-cart-btn {
  background-color: var(--product-cart-button-background-color);
  border-color: var(--product-cart-button-border-color);
  color: var(--text-darken-1-color);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in;
}

.product-item .buttons .shopping-cart-btn:hover {
  background-color: var(--product-cart-button-hover-background-color);
  border-color: transparent;
  color: white;
}

.product-item .buttons .shopping-cart-btn:active {
  background-color: var(--product-cart-button-active-background-color);
  border-color: transparent;
  color: white;
}
