body {
  font-family: "Roboto" !important;
}

header {
  background-color: #006989;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Add shadow */
}

#language-selector .btn {
  background-color: #005c78;
  border-color: #005c78;
  color: white;
}

#language-selector input[type="radio"]:checked + label {
  background-color: white; /* Change the background color of the label */
  color: #005c78;
}

#admin-links {
  background-color: #e6e6e6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Add shadow */
}

#admin-links a {
  color: #005c78;
  text-decoration: none;
  font-weight: bold;
}

#call-us {
  color: white;
  text-decoration: none;
}

#search-form {
  width: 100%;
  border-radius: 0%;
}

#search-box {
  border-radius: 0%;
}

#header-search #header-search-rounded {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08); /* Add shadow */
}

#header-search .form-select {
  border-radius: 0%;
  border-top-left-radius: var(--bs-border-radius);
  border-bottom-left-radius: var(--bs-border-radius);
  background-color: #f3f7ec;
  border-color: #f3f7ec;
  width: 175px;
  color: #e88d67;
}

#header-search #search-form .btn {
  border-radius: 0%;
  border-top-right-radius: var(--bs-border-radius);
  border-bottom-right-radius: var(--bs-border-radius);
  background-color: #f3f7ec;
  border-color: #f3f7ec;
  color: #e88d67;
}

#main-logo {
  height: 100%;
}

#main-logo img {
  width: 75%;
}

#header-menu button {
  background-color: #006989;
  border: none;
}

.top-menu-category-content {
  height: 200px;
  text-align: center;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.top-menu-category-content p {
  position: absolute;
  bottom: 0;
  left: 25px;
  color: white;
  font-size: x-large;
}

.top-menu-category-content:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.top-menu-category a {
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: #ededed;
}

footer a {
  color: #005c78;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #e88d67;
}

footer ul {
  padding-left: 0;
}
