@model LanguageSelectorModel

@inject Nop.Core.IWebHelper webHelper

<div id="language-selector">
    @if (Model.AvailableLanguages.Count > 1)
    {
        var returnUrl = webHelper.GetRawUrl(Context.Request);

        var languages = await Model.AvailableLanguages.SelectAwait(async lang => new SelectListItem
                {
                    Text = lang.Name,
                    Value = Url.RouteUrl("ChangeLanguage", new { langid = lang.Id, returnUrl }, webHelper.GetCurrentRequestProtocol()),
                    Selected = lang.Id.Equals(Model.CurrentLanguageId)
                }).ToListAsync();

        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-globe pe-2"></i> @languages.FirstOrDefault(x => x.Selected).Text
            </button>
            <ul class="dropdown-menu">
                @foreach (var lang in languages.Where(x => x.Text != "En" && !x.Selected).Select((x, i) => new
                {
                    Value = x,
                    Index = i
                }))
                {
                    <li><a class="dropdown-item" href="@lang.Value.Value">@lang.Value.Text</a></li>
                }
            </ul>
        </div>
    }
</div>
