@model SearchBoxModel
@using Nop.Core.Domain.Media
@inject MediaSettings mediaSettings

<div id="search-form">
    <form asp-route="ProductSearch" method="get">
        <div class="input-field hstack">
            <!-- Add name="q" to the input field so the query is passed correctly -->
            <input id="search-box" name="q" class="form-control" type="search" required
                placeholder="@T("Search.SearchBox.Tooltip")" aria-label="@T("Search.SearchBox.Text.Label")">
            <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
        </div>
    </form>
</div>